extends layout 

block layout-content 
    h1 About Us
    p.aboutText Founded in 1923, Dragonfarm offers to you our fresh, homegrown dragonfruit. Our farm is located in the countryside and our farmers strive to produce the finest dragonfruits through generations of expertise. Each plant is grown with care, and each fruit is reaped at its peak.
    .aboutPicsDiv 
        img.aboutPic(src="/images/dragfruit1.jpg")//-retrieved from: https://media.istockphoto.com/id/519964100/photo/dragon-fruit.jpg?s=612x612&w=0&k=20&c=Zr5eJ7DY4X66QzsJUfl93F0dKtKxoStKNWaSRJXNxPo=
        img.aboutPic(src="/images/dragfruit2.jpg")//-retrieved from: https://media.istockphoto.com/id/1064409974/photo/dragon-fruit-tree-with-ripe-red-fruit-on-the-tree-for-harvest.jpg?s=612x612&w=0&k=20&c=pb1u7RUc7AjJmzSHYcb_njBEjGXZtdMyX8ndQd1wSdU=
        img.aboutPic(src="/images/dragfruit3.jpg")//-retrieved from: https://media.istockphoto.com/id/1250180307/photo/field-of-dragon-fruit.jpg?s=612x612&w=0&k=20&c=K1R94aLBfeBwksVEMrUMuEk98axkzJGvgn1_XPnLv-o=