extends layout 

block layout-content 
    .content 
        h1.page-title Welcome to DragonFarm
        p.welcometext We sell a wide variety of dragonfruit! Come visit our farm to see our homegrown fruit.
        .banner//-Image retrieved from: https://media.istockphoto.com/id/157393310/photo/dragon-fruits.jpg?s=612x612&w=0&k=20&c=fxUVFquaduDK-IaSP7yWAnNN58B0YBISjI-IlIeb2Pg=
    .hours
        h2 Opening hours 
        p Mon - Fri: 9am - 4pm
        p Sat - Sun: 8am - 6pm